.shopping-list-item.done .shopping-list-item-label {
  text-decoration: line-through;
}

.shopping-list-item.important .shopping-list-item-label {
  font-weight: bold;
  color: steelblue;
}
.shopping-list-item-label {
  cursor: pointer;
  user-select: none;
}
